<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dating-Site - Authentication</title>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/cookies.js"></script>
    <script src="/static/js/application.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <h1 id="title">Dating-Site</h1>
    <div id="application">
      <ul id="quiz">
        <li v-for='(item, index) in questions'>
          <p>{{index + 1}}. {{item}}</p>
          <select v-model="answers[index]"><option value='1'>Very Inaccurate</option><option value='2'>Moderately Inaccurate</option><option value='3'>Neither Accurate nor Inaccurate</option><option value='4'>Moderately Accurate</option><option value='5'>Very Accurate</option></select>
        </li>
      </ul>
      <a class="stdButton" v-on:click="submitQuiz">Submit Quiz</a>
      <div id="userInformation">
        <h1>Authenticated as {{ user.username }}</h1>
        <h1>Email: {{ user.email }}</h1>
        <h1>ZIP: {{ user.location }}</h1>
        <h1>Age: {{ user.age }}</h1>
      </div>
      <a class="stdButton" v-on:click="logOut">Log Out</a>
    </div>
  </body>
</html>
