<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dating-Site - Authentication</title>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/cookies.js"></script>
    <script src="/static/js/login.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <h1 id="title">Undefined Dating</h1>
    <div id="application">
      <p id="authenticationError" v-if="authentication.error != null">{{ authentication.error }}</p>
      <div v-if="authentication.displayLogin" id="login" class="standardForm" v-on:keyup.enter="submitLogin">
        <input type="text" v-model=" authentication.login.username "placeholder="Username">
        <input type="password" v-model=" authentication.login.password "placeholder="Password">
        <input type="text" v-model=" authentication.login.email "placeholder="Email">
      </div>
      <div v-if="!authentication.displayLogin" id="register" class="standardForm" v-on:keyup.enter="submitRegister">
        <div class="splitForm">
          <input type="text" v-model=" authentication.register.first_name" placeholder="First Name">
          <input type="text" v-model=" authentication.register.last_name" placeholder="Last Name">
        </div>
        <input type="text" v-model=" authentication.register.username "placeholder="Username">
        <input type="password" v-model=" authentication.register.password "placeholder="Password">
        <input type="text" v-model=" authentication.register.email "placeholder="Email">
        <div class="splitForm">
          <input type="number" placeholder="ZIP" v-model=" authentication.register.location "></input>
          <input type="number" placeholder="Age" v-model=" authentication.register.age "></input>
        </div>
      </div>
      <a class="stdButton" v-on:click="authentication.displayLogin = !authentication.displayLogin">or {{ authentication.displayLogin ? "Register" : "Login"}}</a>
    </div>
  </body>
</html>
